# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [8]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [24]:
movies_total_gross = pd.read_csv('disney_movies_total_gross.csv')
disney_revenue = pd.read_csv('disney_revenue_1991-2016.csv')
characters = pd.read_csv('Disney_Characters_cleaned.csv')

disney_main_df = pd.concat([movies_total_gross,disney_revenue,characters],ignore_index=True)

print(disney_main_df.head)
print(disney_main_df.shape)

<bound method NDFrame.head of                          movie_title release_date      genre MPAA_rating  \
0    Snow White and the Seven Dwarfs   12/21/1937    Musical           G
1                          Pinocchio     2/9/1940  Adventure           G
2                           Fantasia   11/13/1940    Musical           G
3                  Song of the South   11/12/1946  Adventure           G
4                         Cinderella    2/15/1950      Drama           G
..                               ...          ...        ...         ...
656                   Wreck-It Ralph    11/2/2012        NaN         NaN
657                         \nFrozen   11/27/2013        NaN         NaN
658                       Big Hero 6    11/7/2014        NaN         NaN
659                       \nZootopia     3/4/2016        NaN         NaN
660                          \nMoana   11/23/2016        NaN         NaN

       total_gross inflation_adjusted_gross  Year  Studio Entertainment[NI 1]  \
0    $184,925,485           $5,228,953,251    NaN                         NaN
1     $84,300,000           $2,188,229,052    NaN                         NaN
2     $83,320,000           $2,187,090,808    NaN                         NaN
3     $65,000,000           $1,078,510,579    NaN                         NaN
4     $85,000,000             $920,608,730    NaN                         NaN
..             ...                      ...   ...                         ...
656            NaN                      NaN   NaN                         NaN
657            NaN                      NaN   NaN                         NaN
658            NaN                      NaN   NaN                         NaN
659            NaN                      NaN   NaN                         NaN
660            NaN                      NaN   NaN                         NaN

     Disney Consumer Products[NI 2]  Disney Interactive[NI 3][Rev 1]  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN
..                              ...                              ...
656                             NaN                              NaN
657                             NaN                              NaN
658                             NaN                              NaN
659                             NaN                              NaN
660                             NaN                              NaN

     Walt Disney Parks and Resorts Disney Media Networks  Total         hero  \
0                              NaN                   NaN    NaN          NaN
1                              NaN                   NaN    NaN          NaN
2                              NaN                   NaN    NaN          NaN
3                              NaN                   NaN    NaN          NaN
4                              NaN                   NaN    NaN          NaN
..                             ...                   ...    ...          ...
656                            NaN                   NaN    NaN        Ralph
657                            NaN                   NaN    NaN         Elsa
658                            NaN                   NaN    NaN  Hiro Hamada
659                            NaN                   NaN    NaN   Judy Hopps
660                            NaN                   NaN    NaN        Moana

                 villian               song
0                    NaN                NaN
1                    NaN                NaN
2                    NaN                NaN
3                    NaN                NaN
4                    NaN                NaN
..                   ...                ...
656                Turbo         Sugar Rush
657          Prince Hans        Let It Go\n
658  Professor Callaghan          Immortals
659                  NaN     Try Everything
660                  NaN  How Far I'll Go\n

[661 rows x 16 columns]>
(661, 16)

In [25]:
duplicates = disney_main_df[disney_main_df.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [movie_title, release_date, genre, MPAA_rating, total_gross, inflation_adjusted_gross, Year, Studio Entertainment[NI 1], Disney Consumer Products[NI 2], Disney Interactive[NI 3][Rev 1], Walt Disney Parks and Resorts, Disney Media Networks, Total, hero, villian, song]
Index: []

In [26]:
missing_data = disney_main_df.isnull().sum()

#printing missingdata in each column
# Already know these numbers wil be very high from EDA as the majority of the data is string or object datatypes and or needs formatting updates as part of the cleaning process. 
print(missing_data[missing_data>0])

movie_title                         26
release_date                        26
genre                               99
MPAA_rating                        138
total_gross                         82
inflation_adjusted_gross            82
Year                               635
Studio Entertainment[NI 1]         636
Disney Consumer Products[NI 2]     637
Disney Interactive[NI 3][Rev 1]    649
Walt Disney Parks and Resorts      635
Disney Media Networks              638
Total                              635
hero                               609
villian                            615
song                               614
dtype: int64

In [27]:
# Check the shape (number of rows) of each DataFrame
print("movies_total_gross shape:", movies_total_gross.shape[0])
print("disney_revenue shape:", disney_revenue.shape[0])
print("characters shape:", characters.shape[0])

movies_total_gross shape: 579
disney_revenue shape: 26
characters shape: 56

In [28]:
disney_main_df['total_gross'] = (
    disney_main_df['total_gross']
    .str.replace('$','',regex=False)
    .str.replace(',','',regex=False)
    .astype(float)
)

print(disney_main_df['total_gross'])

0     184,925,485.00
1      84,300,000.00
2      83,320,000.00
3      65,000,000.00
4      85,000,000.00
           ...
656              NaN
657              NaN
658              NaN
659              NaN
660              NaN
Name: total_gross, Length: 661, dtype: float64

In [29]:
#convert object data type to string

disney_main_df['inflation_adjusted_gross'] = disney_main_df['inflation_adjusted_gross'].astype(str)

#strip dollarsigns and commas to make data more uniform
disney_main_df['inflation_adjusted_gross'] = (
    disney_main_df['inflation_adjusted_gross']
    .str.replace('$','',regex=False)
    .str.replace(',','',regex=False)
    .astype(float)
)

# convert the float datatype to numeric

disney_main_df['inflation_adjusted_gross']=pd.to_numeric(disney_main_df['inflation_adjusted_gross'],errors='coerce')
# Set display options for pandas
pd.set_option('display.float_format', '{:,.2f}'.format)
print(disney_main_df['inflation_adjusted_gross'])

0     5,228,953,251.00
1     2,188,229,052.00
2     2,187,090,808.00
3     1,078,510,579.00
4       920,608,730.00
            ...
656                NaN
657                NaN
658                NaN
659                NaN
660                NaN
Name: inflation_adjusted_gross, Length: 661, dtype: float64

In [37]:

# Select rows 579 to 661
rows_to_clean = disney_main_df.iloc[579:661]

# Drop NaN values from the specified columns
cleaned_rows = rows_to_clean.dropna(subset=[
    'movie_title', 'release_date', 'genre', 'MPAA_rating',
    'total_gross', 'inflation_adjusted_gross', 'Year', 
    'Studio Entertainment[NI 1]'
])

# Display the cleaned DataFrame
print(cleaned_rows.to_string(index=False))

Empty DataFrame
Columns: [movie_title, release_date, genre, MPAA_rating, total_gross, inflation_adjusted_gross, Year, Studio Entertainment[NI 1], Disney Consumer Products[NI 2], Disney Interactive[NI 3][Rev 1], Walt Disney Parks and Resorts, Disney Media Networks, Total, hero, villian, song]
Index: []

In [39]:
#remove NaN Values from rows 570 -661 as those values do not exist in the speciified columns since the csv. are different lengths and contaion different data
# Select rows 579 to 661
rows_to_clean = disney_main_df.iloc[579:661]

# Check the original number of rows
original_row_count = rows_to_clean.shape[0]
print(f"Original row count: {original_row_count}")

# Drop NaN values from the specified columns
cleaned_rows = rows_to_clean.dropna(subset=[
    'movie_title', 'release_date', 'genre', 'MPAA_rating',
    'total_gross', 'inflation_adjusted_gross', 'Year', 
    'Studio Entertainment[NI 1]'
])

# Check the new number of rows
new_row_count = cleaned_rows.shape[0]
print(f"New row count after dropping NaNs: {new_row_count}")

# Check for remaining NaN values in the cleaned DataFrame
nan_counts = cleaned_rows.isna().sum()
print("\nRemaining NaN values in cleaned DataFrame:")
print(nan_counts)

# Display the cleaned DataFrame
print("\nCleaned DataFrame:")
print(cleaned_rows.to_string(index=False))

Original row count: 82
New row count after dropping NaNs: 0

Remaining NaN values in cleaned DataFrame:
movie_title                        0
release_date                       0
genre                              0
MPAA_rating                        0
total_gross                        0
inflation_adjusted_gross           0
Year                               0
Studio Entertainment[NI 1]         0
Disney Consumer Products[NI 2]     0
Disney Interactive[NI 3][Rev 1]    0
Walt Disney Parks and Resorts      0
Disney Media Networks              0
Total                              0
hero                               0
villian                            0
song                               0
dtype: int64

Cleaned DataFrame:
Empty DataFrame
Columns: [movie_title, release_date, genre, MPAA_rating, total_gross, inflation_adjusted_gross, Year, Studio Entertainment[NI 1], Disney Consumer Products[NI 2], Disney Interactive[NI 3][Rev 1], Walt Disney Parks and Resorts, Disney Media Networks, Total, hero, villian, song]
Index: []

In [42]:
#check column which contains nan values up to 579 but has daa after that
print(disney_main_df['hero'])

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
          ...
656          Ralph
657           Elsa
658    Hiro Hamada
659     Judy Hopps
660          Moana
Name: hero, Length: 661, dtype: object

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [43]:
import numpy as np
# Analyze rows 0-580 as that will contatin the bulk of the numerical data. 
rows_to_analyze = disney_main_df.iloc[0:580]

# describe to see basic statitsics
print(rows_to_analyze.describe())

         total_gross  inflation_adjusted_gross     Year  \
count         579.00                    579.00     1.00
mean   64,701,788.52            118,762,523.31 1,991.00
std    93,013,006.12            286,085,280.04      NaN
min             0.00                      0.00 1,991.00
25%    12,788,864.00             22,741,232.00 1,991.00
50%    30,702,446.00             55,159,783.00 1,991.00
75%    75,709,033.00            119,202,000.00 1,991.00
max   936,662,225.00          5,228,953,251.00 1,991.00

       Studio Entertainment[NI 1]  Disney Consumer Products[NI 2]  \
count                        1.00                            1.00
mean                     2,593.00                          724.00
std                           NaN                             NaN
min                      2,593.00                          724.00
25%                      2,593.00                          724.00
50%                      2,593.00                          724.00
75%                      2,593.00                          724.00
max                      2,593.00                          724.00

       Disney Interactive[NI 3][Rev 1]  Walt Disney Parks and Resorts    Total
count                             0.00                           1.00     1.00
mean                               NaN                       2,794.00 6,111.00
std                                NaN                            NaN      NaN
min                                NaN                       2,794.00 6,111.00
25%                                NaN                       2,794.00 6,111.00
50%                                NaN                       2,794.00 6,111.00
75%                                NaN                       2,794.00 6,111.00
max                                NaN                       2,794.00 6,111.00

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?